body{
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
}
div{
	color:white;
	font-size: 45px;
	font-family: RosesareFF0000;
	line-height: 25px;
	margin-left: auto;
	margin-right: auto;
}

@font-face{
font-family: 'RosesareFF0000';
 src: url('./RosesareFF0000.woff'); 
    
 font-weight: normal;
    font-style: normal;
}

@font-face{
font-family: 'Medium';
 src: url('./medium.woff'); 
    
 font-weight: normal;
    font-style: normal;
}

html,body { -webkit-text-size-adjust:none; }

#visual{
	background-color:#EA2160;
	height:1750px;
	width: 980px;
	position:relative;
	padding:0;
	z-index: -100;
}
#background{
	z-index: 0;
	background-color:#000000;
	position: relative;
	height:0px;
	width: 980px;
}

#Title{
	position: relative;
	text-align:right;
	padding-left: 0px;
	padding-top: 0px;
	margin-top: 20px;
	margin-left: 0px;
	font-size: 110px;
	line-height: 150px;
	height: 150px;
	width: 980px;
	color:#EA2160;
}
#statement{
	font-size: 20px;
	text-align:center;
	line-height: 30px;
	margin-top: 10px;
	background-color: #000000;
	color:#EA2160;
	height: 50px;
	width: 940px;

}
#c1{
	margin-top: 20px;
}
.content{
position: relative;
	float:left;
	height:300px;
	width:940px;
	margin-top: 10px;
	margin-left: 20px;

	background-color:#000000;
}


#sidebar{
	height:150px;
	width: 550px;
	position:relative;
	float:right;
	background-color:#000000;
	background-size: auto 150px;
	background-repeat: no-repeat;
	background-position:left top;
}
#main{
	height:150px;
	width: 980px;
	position:relative;
	background-color: #000000;
}
#home{
	height:150px;
	width: 300px;
	position:inline-block;
	float: left;

	background: url(./Website_MainLogo.png);
	background-color:#EA2160;
	background-size: 100% 200%;
	background-repeat: no-repeat;
	background-position:left top;
}
#home:hover{
	background-position:right bottom;
}

#about{
	background: url(./Website_Sidebar.png);
}
#design{
	background: url(./Website_Sidebar2.png);
}
#photography{
	background: url(./Website_Sidebar3.png);
}
#programs{
	background: url(./Website_Sidebar4.png);
}
#music{
	background: url(./Website_Sidebar5.png);
	background-position:right top;
}
.tab{
	height:100px;
	width: 100px;
	position:inline-block !important;
	float: right;
	margin-top: 50px;
	color: #000000;

	background-size: 200% 100% !important;
	background-repeat: no-repeat;
	background-position:left top;
	
	top: 0px;
	padding:0;
	
}
.tab:hover {
	background-position:right bottom !important;
}

.seek{
	position: relative;
	margin: 15px;
	margin-right: 10px;
	margin-left: 10px;

	border-left: 0px solid #EA2160;
	border-right: 470px solid #333333;

	height:30px;
	width: 0px;
	background-color:#333333;
	float:left;
}
.title{
	position: relative;
	margin-top: 50px;
	margin-left: 25px;
	height:50px;
	width: 400px;
	white-space: nowrap;
	background-color:#000000;
	float:left;
color:#EA2160;
}

.description{
	position: relative;
	border:10px solid #000000;
	margin-left: 15px;
	height:160px;
	width: 590px;
	background-color:#000000;
	float:left;
	white-space: pre-wrap;
	overflow: hidden;
	font-size: 18px;
	font-family: 'Medium';
	line-height: 30px;
}

.icon{
	height:300px;
	width: 300px;
	position:inline-block;
	float: left;
	
	background-size: 100% 100% !important;
	background-repeat: no-repeat;
	background-position:left top;
	
	top: 0px;
	padding:0;
}
#aud1_icon{
	background: url(./Website_Music_Covers1.png);

}
#aud2_icon{
	background: url(./Website_Music_Covers2.png);
}
#aud3_icon{
	background: url(./Website_Music_Covers3.png);
}
#aud4_icon{
	background: url(./Website_Music_Covers4.png);
}
#aud5_icon{
	background: url(./Website_Music_Covers5.png);
}

.play{
	height:90px;
	width: 640px;
	margin-left: 0px;
	position:inline-block;
	float: left;
	
	background-size: 200% 100% !important;
	background-color: #aaaaaa;
	background-repeat: no-repeat;
	background-position: right;
}
