body{
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
}
div{
	color:white;
	font-size: 25px;
	font-family: RosesareFF0000;
	line-height: 25px;
	margin-left: auto;
	margin-right: auto;
}

img{
	height:100%;
	width: 100%
}

@font-face{
font-family: 'RosesareFF0000';
 src: url('./RosesareFF0000.woff'); 
    
 font-weight: normal;
    font-style: normal;
}

@font-face{
font-family: 'Medium';
 src: url('./medium.woff'); 
    
 font-weight: normal;
    font-style: normal;
}

html,body { -webkit-text-size-adjust:none; }

#visual{
	background-color:#583795;
	height:2030px;
	width: 980px;
	position:relative;
	padding:0;
	z-index: -100;
}
#background{
	z-index: 0;
	background-color:#000000;
	position: relative;
	height:0px;
	width: 980px;
}

#Title{
	position: relative;
	text-align:right;
	padding-left: 0px;
	padding-top: 0px;
	margin-top: 20px;
	margin-left: 0px;
	font-size: 110px;
	line-height: 150px;
	height: 150px;
	width: 980px;
	color:#583795;
}
#statement{
	font-size: 20px;
	text-align:center;
	line-height: 30px;
	margin-top: 10px;
	background-color: #000000;
	color:#583795;
	height: 50px;
	width: 940px;

}
#pName{
	position:inline-block;
	color: #583795;
	height:15px;
	width:900px;
	padding:20px;
	padding-top: 35px;
	font-size: 36px;
	line-height: 5px;
}
#program{
	margin-top: 0px;
	height:560px;
	background-color:#000000;
}
#c1{
	margin-top: 0px;
}
.content{
	position: relative;
	float:left;
	width:940px;
	height: 300px;
	margin-top: 20px;
	margin-left: 20px;
	background-color:#000000;
}

#lDesc2{
	height: 210px;
}
.description_large{
	position: inline-block;
	float:left;
	margin-top: 0px;
	margin-left: 20px;
	background-color:#000000;
	height:190px;
	width: 900px;
	padding: 20px;
	font-size: 20px;
	line-height: 36px;
	font-family: 'Medium';
}

#whoAmI{
	margin-top: 90px;
}
.title{
	position: relative;
	margin-top: 50px;
	margin-left: 25px;
	height:50px;
	width: 400px;
	white-space: nowrap;
	background-color:#000000;
	float:left;
	color:#583795;
	font-size: 45px;

}

#desc1{
	font-size: 20px;
}
.description{
	position: relative;
	border:10px solid #000000;
	margin-left: 15px;
	height:160px;
	width: 590px;
	background-color:#000000;
	float:left;
	white-space: pre-wrap;
	overflow: hidden;
	font-size: 18px;
	line-height: 30px;
	font-family: 'Medium';
}

.icon{
	height:300px;
	width: 300px;
	position:inline-block;
	float: left;
	
	background-size: 100% 100% !important;
	background-repeat: no-repeat;
	background-position:left top;
	
	top: 0px;
	padding:0;
}

.cs15icon{
	height:300px;
	width: 33.33333%;
	position:inline-block;
	float: left;
	
	background-size: cover !important;
	background-repeat: no-repeat;
	background-position:left top;
	
	top: 0px;
	padding:0;
}


#sidebar{
	height:150px;
	width: 550px;
	position:relative;
	float:right;
	background-color:#000000;
	background-size: auto 150px;
	background-repeat: no-repeat;
	background-position:left top;
}
#main{
	height:150px;
	width: 980px;
	position:relative;
}
#home{
	height:150px;
	width: 300px;
	position:inline-block;
	float: left;

	background: url(./Website_MainLogo.png);
	background-color:#583795;
	background-size: 100% 200%;
	background-repeat: no-repeat;
	background-position:left top;
}
#home:hover{
	background-position:right bottom;
}

#about{
	background: url(./Website_Sidebar.png);
}
#design{
	background: url(./Website_Sidebar2.png);
}
#photography{
	background: url(./Website_Sidebar3.png);
}
#programs{
	background: url(./Website_Sidebar4.png);
	background-position:right bottom;
}
#music{
	background: url(./Website_Sidebar5.png);
}
.tab{
	height:100px;
	width: 100px;
	position:inline-block !important;
	float: right;
	margin-top: 50px;
	color: #000000;

	background-size: 200% 100% !important;
	background-repeat: no-repeat;
	background-position:left top;
	
	top: 0px;
	padding:0;
	
}
.tab:hover {
	background-position:right bottom !important;
}
